# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Variables
.env

# Hardhat
artifacts/
cache/
typechain-types/

# Assets (Optional: Ignore large files if needed)
*.zip
*.car

# Temporary Upload Folders
public/split_images/
public/split_images_small/
public/temp_images/
car_files/
batch_cids.json
batch_folder_cids.json
small_batch_cids.json
